body {
  background: #f1f5f9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.container-box {
  background:white;
  width: 100%;
  max-width: 700px;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}

.red {
  color: #ef4444;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  margin-top: 20px;
  background: #ef4444;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  background: #f1f5f9;
  padding: 16px;
  border-radius: 10px;
}